<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/mvc 
     http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

	<!--适配器 -->
	<!--非注解第一种适配器 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" 
		/> -->
	<!-- 非注解第二种适配器 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" 
		/> -->
	<!--注解适配器 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" 
		/> -->

	<!-- 映射器 将bean的name作为url进行查找，在配置handler时需要指定beanname，即url -->
	<!--非注解第一种映射器 -->
	<!-- <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" 
		/> -->
	<!-- 非注解第二种映射器 -->
	<!-- <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping"> 
		<property name="mapping"> <props> <prop key="/queryItem1.action">itemsController1</prop> 
		<prop key="/queryItem2.action">itemsController1</prop> <prop key="/queryItem3.action">itemsController2</prop> 
		</props> </property> </bean> -->
	<!--注解映射器 -->
	<!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" 
		/> -->

	<!-- 配置Handler -->
	<!-- 非注解第一种handler -->
	<!-- <bean id="itemsController1" name="/queryItems.action" class="com.pl1.ssm.controller.ItemsController1" 
		/> -->
	<!-- 非注解第二种handler -->
	<!-- <bean id="itemsController2" class="com.pl1.ssm.controller.ItemsController2"></bean> -->
	<!-- 注解handler第一种 -->
	<!-- <bean class="com.pl1.ssm.controller.ItemsController3"/> -->
	<!-- 注解handler第二种主键扫描 -->
	<context:component-scan
		base-package="cn.pl.ssm.controller" />


	<!--可以代替注解映射器和注解适配器 -->
	<mvc:annotation-driven
		conversion-service="conversionService" validator="validator"></mvc:annotation-driven>

	<!--视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!--自定义参数绑定 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!--转换器 -->
		<property name="converters">
			<list>
				<!-- 日期类型转换器 -->
				<bean
					class="cn.pl.ssm.controller.converter.CustomDateConverter" />
			</list>
		</property>
	</bean>

	<!--校验器 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass"
			value="org.hibernate.validator.HibernateValidator" />
		<property name="validationMessageSource" ref="messageSource" />
	</bean>
	<!-- 校验错误信息配置文件 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!--资源文件名 -->
		<property name="basenames">
			<list>
				<value>classpath:CustomValidationMessages</value>
			</list>
		</property>
		<!--资源文件编码格式 -->
		<property name="fileEncodings" value="utf-8" />
		<!-- 对资源文件内容缓存时间，单位秒 -->
		<property name="cacheSeconds" value="120" />
	</bean>
	
	<!--全局异常处理器  -->
	<bean class="cn.pl.ssm.exception.CustomExceptionResolver"></bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="maxUploadSize">
	<value>5242880</value>
	</property>
	</bean>
</beans>